body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e76b05;
    color: #fff;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #e76b05;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

main section {
    margin-bottom: 2rem;
}

footer {
    background-color: #e76b05;
    color: #fff;
    padding: 1rem;
    text-align: center;
}